@keyframes transition{
    0%{
        opacity: 1;
    }
    25%{
        opacity: 0.5;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}

#arrow-left, #arrow-right {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 20px;
}

img{
    pointer-events: none;
}

.animation{
    animation: transition forwards 0.5s;
}

.description{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}

.description > span{
    font-style: italic;
    text-decoration: underline;
}

.description > div{
    margin-top: 15px;
}

#query{
    margin-left: 5px;
    border-radius: 20px;
    background-color: transparent;
    font-size: 1.5rem;
    margin-right: 10px;
}

#query-change{
    background-color: transparent;
    padding: 10px;
    font-size: 1rem;
    border-radius: 15px;
}

#query-change:hover{
    cursor: pointer;
    font-weight: bold;
}